* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
  background: rgb(255,149,0);
  background: linear-gradient(146deg, rgba(255,149,0,1) 16%, rgba(250,220,83,1) 61%, rgba(248,255,123,1) 100%);
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}


.calculator {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    padding-top: 5px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(241, 230, 10);
}


#display {
    margin: 0 5px;
    height: 120px;
    padding: 5px;
    width: auto;
    max-width: 290px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 40px;
    margin-bottom: 20px;
    overflow-x: scroll;
    border-radius: 13px;
    background: #ffe134;
    box-shadow: inset 10px 10px 20px #ebcf30,inset -10px -10px 20px #fff338;
    color: black;
  }


#display::-webkit-scrollbar {
    display: block;
    height: 3px;
}

button {
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 10px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}


button#3, button#6, button#9 {
    width: 60px;
}


button:hover {
    transform: scale(1.1);
}

button#equal {
    height: 60px;
    width: 130px;
}

  .calculator {
    background-color: #fff;
  }

  .calculator p {
    color: black;
    text-align: center;
    margin-bottom:5px;
}

  .calculator #display {
    color: black;
  }

  .calculator button#clear {
    border-radius: 11px;
    background: #ffffff;
    box-shadow:  6px 6px 12px #e3e3e3,-6px -6px 12px #ffffff;
    color:  #ff9500 ;
  }

  .calculator button.btn-number {
    border-radius: 11px;
    background: #ffffff;
    box-shadow:  6px 6px 12px #e3e3e3,-6px -6px 12px #ffffff;
    color: black;
  }

  .calculator button.btn-operator {
    border-radius: 11px;
    background: #ff9500;;
    box-shadow:  6px 6px 12px #e3e3e3,-6px -6px 12px #ffffff;
    color: white;
  }
  
  .calculator button.btn-equal {
    border-radius: 11px;
    background-color: #ff9500; 
    box-shadow:  6px 6px 12px #e3e3e3,-6px -6px 12px #ffffff;
    color: #ffffff;
  }
  
  